
.blog-post-list {
    li {
        padding: 12px;
        list-style: circle;
    }

    code {
        background-color: rgb(20, 20, 20, 0.7);
        color: var(--light-green);
    }

    a {
        position: relative;
        color: var(--light-green);
        text-decoration: none;
    }

    .cancel > code {
        color: black;
        background-color: transparent;
    }
}

.sub-bullet-point {
    list-style-type: disc !important;
}

.blog-list-title > a {
    color: var(--lightest-slate) !important;
}

// 1100 and up
@media only screen and (min-width: 1100px) {
    .w-80 { width: 80%; }
    .w-75 { width: 75%; }
    .w-70 { width: 70%; }
}
