
.project-section {
    margin-top: 15rem;
    .card-body {
        border: none;
        padding: 0;
    }
    .card-title {
        color: var(--lightest-slate);
        font-weight: 600;
        font-family: Sans !important;
    }

    .show-more-button {
        display: block;
        color: var(--light-green);
        background-color: transparent;
        border: 1px solid var(--light-green);
        border-radius: 4px;
        font-size: 13px;
        font-family: mono;
        line-height: 1;
        text-decoration: none;
        cursor: pointer;
        transition: var(--transition);
        padding: 1.25rem 1.75rem;
        margin: 80px auto 0px;
    }

    .numbered-heading-projects {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        color: var(--lightest-slate);
        font-family: SansBold;
        font-size: clamp(26px, 5vw, 32px);
        &::before {
            content: '02.';
            width: 0;
            height: 100%;
            position: relative;
            top:13px;
            left: -36px;
            color: var(--light-green);
            font-size: clamp(7px, 3.2vw, 18px);
            font-weight: 400;
            font-family: 'mono';
        }
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 240px;
            background: var(--slate);
            margin: 1.5rem 0 0.8rem 1rem;
            opacity: 0.3;
        }
    }

    .project-container {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        display: flex;
        flex-direction: row;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        height: 100%;
        padding: 2rem 1.75rem;
        margin-inline: auto;
        gap: 20px;
    }

    .projects-grid {
        list-style: none;
        padding: 0px;
        margin: 50px 0px 0px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 15px;
        width: 80%;
        margin-inline: auto;
        position: relative;
    }
    .card {
        background-color: var(--light-navy);
        width: 20rem;
        height: 16.5rem;
        border: none;
    }

    .card-text {
        font-size: 17px;
    }

    .project-inner {
        box-shadow: 0 10px 30px -15px var(--navy-shadow);
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: flex-start;
        position: relative;
        width: 19rem;
        height: 18rem;
        padding: 0 1.75rem 2rem 1.75rem;
        background-color: var(--light-navy);
        cursor: pointer;
        .card-title {
            transition: all 200ms;
        }
    }
    .project-tech-list {
        display: flex;
        align-items: flex-end;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-wrap: wrap;
        padding: 0px;
        list-style: none;
        flex-direction: row;
        font-size: 13px;
        gap: 1.3rem;
    }

    .project-top {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        margin-bottom: 21px;
        padding-top: 15px;
        .project-links {
            display: flex;
            flex-direction: row;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            align-items: center;
            padding: 5px 7px;
            z-index: 35;
            a {
                background-color: transparent;
                border: none;
                color: var(--slate);
                padding: 0 5px;
            }
        }
    }
    .project-folder {
        color: var(--light-green);
    }
}
// card title on-hover
.project-inner:hover .card-title  { 
    color: var(--light-green); 
}

//  1084px and down
@media only screen and (max-width: 1084px) {
    .project-inner {
        margin-inline: auto;
    }
    .projects p{
        text-align: left;
    }

    .projects-grid {
        justify-content: center;
    }
    
   ul.projects-grid {
        a {
            width: fit-content;
            margin-inline: auto;
        }
    }
}

//   800px and up
@media only screen and (min-width: 800px) {
}

