.blog-post-title {
    padding: 20px 0; 
    color: var(--lightest-slate);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 7px;
}

.blog-post-container {
    max-width: 80%;
    margin-left: 5.5%;
    padding-top: 5%;
}
