table {
    margin-top: 5rem;
    width: 80%;
    margin-inline: auto;

}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--lightest-slate)
}

.leetcode-title {
    font-weight: 500;
    font-size: 21px;
}


table td, table th {
    border-bottom: 1px solid var(--slate);
    border-top: 1px solid var(--slate);
    padding: 10px;
}

table {
    border: 1px solid var(--slate);
}

tr > td:not(td:first-of-type), tr > th:not(th:first-of-type) {
    text-align: center;
}

.easy {
    color: hsl(153, 53%, 53%) !important;
    background-color: hsl(153, 53%, 53%, 0.1) !important;
    border: 1px solid (153, 53%, 53%);
    border-radius: 100vw;
    transition: background-color 300ms ease;

    &:hover {
        transition: background-color 300ms ease;
        background-color: hsl(153, 53%, 53%, 0.2) !important;
    }
}

.medium {
    color: hsl(44, 98%, 50%) !important;
    background-color: hsl(44, 98%, 50%, 0.1) !important;
    border: 1px solid hsl(44, 98%, 50%);
    border-radius: 100vw;
    transition: background-color 300ms ease;

    &:hover {
        transition: background-color 300ms ease;
        background-color: hsl(44, 98%, 50%, 0.2) !important;
    }
}

table button {
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    padding: 0.1em 1.25em;
    color: var(--light-green);
}

tr > td:first-of-type {
    color: var(--lightest-slate);
}

.modal-header .btn-close {

}

.modal-header .modal-title:last-of-type:not(.modal-title:first-of-type) {
    margin-left: 1.5rem;
    font-size: 15px;
    border-radius: 100vw;
    padding: 2px 15px;
    font-weight: 600;
    cursor: pointer;
}


.modal-content {
    background-color: var(--lightest-navy) !important;

}

.btn-close {
    color: var(--slate) !important;
}

.modal-footer {
    justify-content: space-between;
}

.modal-title {
    color: var(--lightest-slate);
}

@media (min-width: 576px){

    .modal-dialog {
        max-width: 900px;
    }
}