
:root {
  --light-green: hsl(166, 100%, 70%);
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --navy: #0a192f;
  --light-navy: #112240;
  --lightest-navy: rgb(35, 53, 84);
  --navy-shadow: rgba(2,12,27,0.7);
}

@font-face {
  font-family: 'mono';
  src: url('./fonts/BPmono.ttf') format('truetype');
}
@font-face {
  font-family: 'Sans';
  src: url('./fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SansBold';
  src: url('./fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SansBoldItalic';
  src: url('./fonts/DMSans-BoldItalic.ttf') format('truetype');
}

dl, ol, ul {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0px;
}

ul, li{
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.main {
  margin: 0px auto;
  padding: 0px 150px 80px;
  width: 100%;
  max-width: 1600px;
  min-height: 100vh;
}

.pad {
  padding: 0 0%;
  margin-inline: 8%;
}

body {
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  color: var(--slate);
  font-family: 'Sans';
  font-size: 20px;
  line-height: 1.3;
  background-color: var(--navy);
}

.light-blue-color {
  color: var(--main-bg-color-inset);
}

.light-slate-color {
  color: var(--lightest-slate);
}

::-webkit-scrollbar {
  width: .25em;
}

::-webkit-scrollbar-track {
  background: var(--navy);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: hsla(225, 20%, 61%, 0.5);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover {
  background: hsla(225, 20%, 61%, 0.8);
}

@supports (scrollbar-color: slate navy) {
  * {
    scrollbar-color: hsla(225, 20%, 61%, 0.5) var(--navy);
    scrollbar-width: thin;
  }
}

@for $i from 1 through 12 {
    $j: $i - 1;
    $k: $j * 2;
    $l: $j * 2 * 2;
    .fade-in-#{$i} {
      opacity: 0;
      animation: fadeIn 1s;
      animation-fill-mode: forwards;
      @if $i >= 6 {
        animation-delay: #{$k}00ms;
      } @else if $i > 10{
        animation-delay: #{$l}00ms;
      } @else {
        animation-delay: #{$j}00ms;
      }
    }
}


@keyframes fadeIn {
  0% { transition-delay: 0ms; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1); }
  100% {  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-moz-keyframes fadeIn {
  0% { transition-delay: 0ms; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);}
  100% {  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-webkit-keyframes fadeIn {
  0% { transition-delay: 0ms; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);}
  100% {  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-o-keyframes fadeIn {
  0% { transition-delay: 0ms; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);}
  100% {  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}

@-ms-keyframes fadeIn {
  0% { transition-delay: 0ms; visibility: visible; opacity: 0; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 20, 0, 1);}
  100% {  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; visibility: visible; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
}


@media only screen and (max-width: 1080px) {
    .about-me-section {
        margin-inline: auto;
    }
}