$navbarHeight: 100px;

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 61; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--light-navy); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.15s; /* 0.5 second transition effect to slide in the sidenav */
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .closebtn {
      opacity: 1;
      position: absolute;
      z-index: 200;
      top: 8px;
      left: 61px;
      font-size: 36px;
      margin-left: 50px;
      cursor: pointer;
      color: var(--light-green);
    }
    a {
      padding: 8px;
      text-decoration: none;
      font-size: 22px;
      color: var(--slate);
      display: flex;
      align-self: center;
      transition-duration: 20ms;
      flex-direction: column-reverse;
      text-align: center;
      width: 100%;
      width: -moz-available;          /* WebKit-based browsers will ignore this. */
      width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
      width: fill-available;
      &:hover {
        color: var(--light-green)
      }
    }

    li {
      display:flex;
      flex-direction: column-reverse;
      @for $i from 2 through 4 {
        $j: $i - 1;
        &:nth-child(#{$i}) > a::after {
          content: '0#{$j}.';
          width: 0;
          height: 100%;
          left: -12px;
          margin-bottom: 5px;
          position: relative;
          color: var(--light-green);
          font-size: clamp(7px, 3.2vw, 15px);
          font-weight: 400;
          font-family: 'mono';
          font-size: 17px;
          align-self: center;
          display: flex !important;
        }
      }
    }


  }


nav {
  box-shadow: 0 10px 30px -10px var(--navy-shadow);
  z-index: 60;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  position: sticky !important;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  top: 0px;
  padding: 0px 50px;
  width: 100%;
  height: 100px;
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  &.is-hidden {
    transform: translate(0, -$navbarHeight - 10);
    transition: transform 200ms ease;
  }
  &.is-visible {
    transform: translate(0, 0);
    transition: transform 200ms ease;
  }
  .navbar-nav {
    flex-direction: row;
    gap: 20px;
  }
  .nav-link {
    color: var(--lightest-slate) !important;
    padding: 10px !important;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  .nav-link:hover {
    color: var(--light-green) !important;
  }
  .navbar-brand {
    color: var(--light-green) !important;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .resume-button {
    color: var(--light-green);
    background-color: transparent;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    font-size: 13px;
  }
  .navbar-nav {
    align-items: end;
  }
  @for $i from 1 through 3 {
    .navbar-nav li:nth-child(#{$i}) {
        display: flex;
        gap: 15px;
        &::before {
          content: '0#{$i}.';
          width: 0;
          height: 100%;
          left: -5px;
          position: relative;
          color: var(--light-green);
          font-size: clamp(7px, 3.2vw, 15px);
          font-weight: 400;
          font-family: 'mono';
          font-size: 13px;
          align-self: center;
          display: flex !important;
        }
      }
    } 
  }   
  
  /* Position and style the close button (top right corner) */

  .nav-btn {
    z-index: 54 !important;
    position: absolute;
    right: 25px;
    top: 28px;
    color: var(--light-green);
    background-color: transparent;
    border: none;
  }


  .nav-btn:hover {
      color: var(--light-green);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
  }
  
  /* 1084px and up */
  @media only screen and (min-width: 800px) {
      .sidenav {
        width: 0 !important;
      }
      #root > *:not(aside) {
        filter: none !important;
      }
      body {
        overflow: inherit !important;
      }
  }