/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 9; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: var(--light-navy); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    backdrop-filter: blur(10px);
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--slate);
    display: block;
    transition: 0.3s;
  }

nav {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 0px 50px;
  width: 100%;
  height: 100px;
  
  filter: none !important;
  pointer-events: auto !important;
  user-select: auto !important;
  .navbar-nav {
    flex-direction: row;
    gap: 20px;
  }
  .nav-link {
    color: var(--lightest-slate) !important;
    padding: 10px !important;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  .nav-link:hover {
    color: var(--light-green) !important;
  }
  .navbar-brand {
    color: var(--light-green) !important;
    margin-bottom: 20px;
  }
  .resume-button {
    color: var(--light-green);
    background-color: transparent;
    border: 1px solid var(--light-green);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-right: 50px;
    font-size: 13px;
  }
  @for $i from 1 through 3 {
    .navbar-nav li:nth-child(#{$i}) {
        display: flex;
        gap: 15px;
        &::before {
          content: '0#{$i}.';
          width: 0;
          height: 100%;
          left: -5px;
          position: relative;
          color: var(--light-green);
          font-size: clamp(7px, 3.2vw, 15px);
          font-weight: 400;
          font-family: 'mono';
          font-size: 13px;
          align-self: center;
          display: flex !important;
        }
      }
    } 
  }   

  .navbar-nav {
    align-items: end;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: var(--light-green)
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .nav-btn {
    z-index: 10;
    position: absolute;
    right: 25px;
    top: 28px;
    color: var(--light-green);
    background-color: transparent;
    border: none;
  }


  .nav-btn:hover {
      color: var(--light-green);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }