
.about-me-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 900px;
    p {
        max-width: 500px;
        &:not(p:last-child) { 
            margin-bottom: 10px;
        }
    }
    .numbered-heading {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        position: relative;
        margin: 10px 0px 40px;
        margin-right: 20px;
        font-family: SansBold;
        width: 100%;
        font-size: clamp(26px,5vw,32px);
        white-space: nowrap;
        color: var(--lightest-slate);
        &::before {
            content: '01.';
            width: 0;
            height: 100%;
            position: absolute;
            top: 11px;
            left: -36px;
            color: var(--light-green);
            font-size: clamp(7px, 3.2vw, 18px);
            font-weight: 400;
            font-family: 'mono';
        }
        &::after {
            content: '';
            display: block;
            height: 1px;
            width: 240px;
            background: var(--slate);
            margin: 1rem 0 0.8rem 1rem;
            opacity: 0.3;
        }
    }
}


ul.skills-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 200px));
    gap: 0px 10px;
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    justify-content: center;
    li::before {
        content: "▹";
        color: var(--light-green);
        position: relative;
        left: 0;
        width: 1rem;
        line-height: 12px;
    }
}
//   800px and up
@media only screen and (min-width: 800px) {
    .rob {
        max-width: 400px;
    }
}


//  800px and down
@media only screen and (max-width: 800px) {
    .about-me-section {
        margin-inline: auto;
    }
}
.wrapper::before, .wrapper::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
}


img {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
}

.wrapper {
    max-width: 500px;
    display: block;
}

.wrapper::before {
    top: 0px;
    left: 0px;
    background-color: var(--navy);
    mix-blend-mode: screen;
}
.wrapper::after {
    border: 2px solid var(--light-green);
    top: 20px;
    left: 20px;
    z-index: -1;
}

.inner {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.about-right {
    position: relative;
    max-width: 300px;
    max-height: 265px;
    margin-inline: auto;
}

@media only screen and (max-width: 950px) {
    .inner {
      display: block !important;
    }
    .wrapper {
        margin-top: 70px;
    }
  }